html, #root, .App {
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

div.container {
  padding-top: 15px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
    color: #f8f8f2;
}

code.inline {
  color: #e83e8c
}

.code-block {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace !important;
  color: #f8f8f2 !important;
}

div.code-block button {
  border-width: 0px;
}

div.code-block button {
  border-width: 0px;
}

div.left-margin, div.right-margin {
  background-color: #CCCCCC;;
  z-index: -1;
}

div.full-height {
  height: 100%;
}

div.col {
  padding: 0;
}

div.container-headshot {
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 5%;
  margin-bottom: 20px;
}

img.headshot {
  width: 40%;
  min-width: 200px;
}

a.nav-link {
  font-size: 20;
}

div.footer-container {
  padding-top: 120px;
}

footer.footer {
  position: absolute;
  bottom: 0;
  padding: 20px;
  width: 100%;
  background-color: #f5f5f5;
  text-align: center;
}

div.footer-col {
  display: inline-block;
  text-align: left;
  padding-left: 10%;
  padding-right: 10%;
}

div.bio {
  max-width: 1000px;
  padding-left: 10%;
  padding-right: 10%;
}

h1.name-title {
  margin-top: 30px;
}

div.blog-card {
  margin-bottom: 30px;
  margin-right: 15px;
  margin-left: 15px;
  margin-top: 30px;
  padding: 30px;
  align-items:center;
}

div.post-content {
  text-align: left;
  margin-top: 30px;
  width: 90%;
  font-size: 18px;
}

div.post-header-img {
  min-width: 30%;
  float: left;
  padding-right: 30px;
}

div.post-img-right {
  min-width: 30vh;
  float: right;
  padding-left: 30px;
}

div.post-img-left {
  min-width: 30vh;
  float: left;
  padding-right: 30px;
}

img.github-intext {
  height:20px;
  width: 20px;
}

figure {
  display: table;
  width: fit-content;
}

figcaption.figure-caption {
  padding-left: 60px;
  min-width: 30vh;
  max-width: fit-content;
}

p.post-body {
  justify-content: left;
}

blockquote.blockquote {
  border-left: 10px solid #ccc;
  padding-left: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-style: italic;
}

pre {
  background-color: #212529;
  padding: .5rem .5rem .5rem;
  border-radius: .5rem;
  color: #38fe27;
}

img.card-img-top {
  max-width: 20rem;
}

@media (min-width: 576px) {
  .card-columns {
      column-count: 2;
      padding-right: 15px;
  }
}

@media (min-width: 1454px) {
  .card-columns {
      column-count: 3;
  }
}

div.form-card {
  margin: auto;
}

input.crypto-calc-input {
  width: 75%!important;
}

div.crypto-calc-row {
  padding-bottom: 25px;
}

div.tennis-form-container {
	font-size: 14px;
	padding-left: 0px;
	padding-right: 0px;
}

@media (min-width: 1200px) {
	div.tennis-form-container {
		max-width: 75%;
		font-size: 18px;
	}
}

button.subscribe-modal-btn {
  color: black;
  text-decoration: none;
}

button.subscribe-modal-btn:hover {
  color: black;
  text-decoration: none;
}

div.modal {
  padding-right: 15px !important;
}

.modal-open {
  overflow: auto;
}


.monty-hall-button-text {
  font-size: 30px;
}

.monty-hall-button-col {
  padding-top: 15px;
}

.monty-hall-play-again {
  padding-left: 15px;
}